body{
    background-color: black;
    color: white;
    padding: 100px;
}

a{
    color: black;
}

.container{
    margin: auto;
    text-align: center;
    line-height: 300%;
    background-color: rgb(31, 31, 31);
    border-style: solid;
    border-color: white;
    width: 60%;
}

#siker{
    color: green;
}

@media only screen and (max-width: 600px) {
    .container {
      line-height: 400%;
      width: 100%;
    }
  }